@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';
@import 'node_modules/reset-css/sass/reset';

@import 'fonts';
@import 'variables';

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body {
	color: $color-black;
	background: $color-white;
	font-family: $font-family-montserrat;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.wrapper {
	margin: 0 auto;
	position: relative;
}

.toolbar {
	height: 45px;
	color: $color-black;
	font-family: $font-family-roboto-regular;
	ul {
		list-style: none;
		li {
			font-size: 18px;
			i {
				margin-right: 4px;
			}
			a {
				color: inherit;
			}
			&:not(:last-child) {
				&::after {
					content: '|';
					margin: 0 5px;
				}
			}
		}
	}
}

.navbar {
	height: 125px;
}
