@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/slick-carousel/slick/slick-theme';

@import 'fonts';
@import 'variables';

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body {
	color: $color-black;
	background: $color-white;
	font-family: $font-family-montserrat;
}
